@import "~bootstrap/scss/bootstrap";


body {
    background-color: white;
    color: rgb(19, 10, 68);
    font-family: 'Comfortaa', sans-serif;
    font-weight: 400;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
  
}

.res-circle {
 
    max-width: 20%;
    border-radius: 50%;
    background: #df9f20;
    line-height: 0;
    position: relative;
    margin-left: 40%;

  }
   
  .res-circle::after {
    content: "";
    display: block;
    padding-bottom: 100%;
    
  }
   
  .circle-txt {
    position: absolute;
    bottom: 50%;
    width: 100%;
    text-align: center;
    font-weight: 700;
  }

  .update {
    text-align: right;
    color: rgb(255, 253, 253);
    background-color: rgb(19, 10, 68);
    border: none;
    padding: 8px;
    margin: 8px;
}

.form {
    text-align: left;
}

input {
    margin-top:8px;
    margin-bottom: 8px;
    text-align: left;
    width: 100%;
}

button {
    text-align: right;
    color: rgb(255, 253, 253);
    background-color: rgb(19, 10, 68);
    border: none;
    padding: 8px;
    margin-top: 12px;
    margin-bottom: 12px;
}

.delete {
    text-align: right;
    color: rgb(255, 253, 253);
    background-color: rgb(172, 13, 13);
    border: none;
    padding: 8px;
}

.kategoria {
    font-size: 14px;
    font-style: italic;
    text-align: center;
}

.rating {
    text-align: center;

}

img {
    max-width: 500px;
    max-height: 300px;
}

p {
    text-align: left;
}

.tuote {
    padding: 20px;
}

a {
    text-decoration: underline;
}
.tuotenimi {
    max-width: 400px;
    text-align: center;
    text-decoration: underline;
}

.tiedot {
    background-color: rgb(210, 222, 233);
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
}

.tuotteet {
    margin-left: auto;
    margin-right: auto;

}
.laatikko {
text-align: center;
}

select {
    border: none;
    background-color: #e7f2f7;
    color: black;
    width: 300px;
    height: 30px;
    font-size: 18px;
    text-transform: capitalize;
    font-family: 'Staatliches';
    box-shadow: none;
    padding: 5px;
}

.valikko2 {
    background-color: #e7f2f7;
    border: none;
    color: black;
    width: 300px;
    height: 30px;
    font-size: 18px;
    text-transform: capitalize;
    font-family: 'Staatliches';
    box-shadow: none;
    padding: 5px;
    margin-top: 8px;
}

hr {
    border: 1px solid rgb(247, 241, 241);
    margin-bottom: 1em;
}

h1 {
    font-family: 'Staatliches', cursive;
    font-size: 38px;
    color: #351b53;
    text-align: center;
    text-transform: uppercase;
    font-weight:bold;
    
}

h2 {
    font-family: 'Staatliches', cursive;;
    font-size: 28px;
    color: #e54da6;
    font-weight: bold;
    text-decoration: underline;
    padding-bottom: 1em;
    
}

h3 {

    text-align: center;
    margin: auto;
    padding-bottom: 1em;
    font-weight: 700;
}

.title {
    font-size: 20px;
}

article{
    font-size: 18px;
}

nav-link {
    margin: 20x;
    line-height: 30px;
    font-size: 16px;
    padding: 10px;
    color: black;
}

