$primary: #7020df;
$secondary: #2d0d59;


body {
    max-width: 800px;
}

div.nav {
    margin-top: 2em;
    text-align: center;
    background-color: #f6f0ff;
    text-transform: uppercase;
    text-decoration: underline;
}


@import '~bootstrap/scss/bootstrap.scss'