body {
  background-color: white;
  color: rgb(19, 10, 68);
  font-family: 'Comfortaa', sans-serif;
  font-weight: 400;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
